


/*字体系列、文本大小、背景颜色、文本颜色、文本居中、行距、边距、填充*/
body{
    font-family: arial,italic,sans-serif;
    font-size: 1rem;
    background-color: #d0d0d0;
    text-align: center;
    line-height: 28pt;
    margin: 80px 100px;
    padding: 10px;
    }


.lianjie{
    position: relative;
    width: auto;
    background-color: #c9bdbd;
    margin: auto;
    padding: 50px 0;
    
}


.lianjie h3{
    text-align: left;
    color: gray;
    margin-left: 55px;
}

/*
@media screen and (max-width: 480px){
.lianjie li{
    width: 33.33333%!important;
    padding: 0!important;
    }

.lianjie ul {
    padding: 6px 0;
    border-bottom: 1px solid #eaeaea;
}*/
    


.lianjie ul{
    display: flex;
    display:-webkit-flex;
    flex-wrap: wrap;
    position: relative;
}


.lianjie li{
    overflow: hidden;
    margin: 0 5px;
    padding: 0 7.5px;
}


/*使a标签成为块状元素、宽度、关闭链接下划线、背景、文本颜色、边距、填充*/
.lianjie a{
    display: block;
    width: 120px;
    text-decoration: none;
    background-color: thistle;
    color: gray;
    margin: 5px;
    padding: 15px;
}


/*指针放在链接上时显示的颜色（未单击）*/
.lianjie a:hover{
    background-color: rgb(161, 152, 152);
    color: rgb(226, 35, 147);
}
